body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
  }
  
  #materialsTable {
    margin: 20px auto;
  }
